
<section class="extraHeader" id="categories">
    <div class="container">
        <div class="row">
            <div class="bt col-lg-4 col-md-4 col-12">
                <a href="."><em class="fa-3x fa fa-desktop" aria-hidden="true"></em>
                </a>
                <h4 style>Brain Teasers</h4>
                <p>It's amazing how brain teasers can stump people. Even something to which you might know the obvious answer might not be a simple thing to work out for someone else.

                    Brain teasers have been around forever. Do you remember, as kids, swapping different brain teasers and trying to catch your friends with the newest one you found in a book in the library? Today's kids have it easy, thanks to the internet. Want some brain teasers? 
                    </p>
            </div> 
            &nbsp;
           
            <div class="lt col-lg-4 col-md-4 col-12">
                <a href="#"><em class="fa-3x fab fa-leanpub" aria-hidden="true"></em>
                </a>
                <h4>LOGICAL THINKING</h4>
                <p>No matter what career you're thinking about pursuing, it's likely you'll need logic and problem solving. Test your logical thinking skills in this quiz.</p>
            </div>
           &nbsp;
            <div class="gk col-lg-4 col-md-4 col-12">
                <a href="#"><em class="fa-3x fas fa-clock" aria-hidden="true"></em>
                </a>
                <h4>GENERAL KNOWLEDGE</h4>
                <p>Tired of spending hours staring outside your wndows ?
                    Say goodbye to boredom and mundaneness with Quid games !
                    Invite your friends to play and compete with them to win exciting trophies !</p>
            </div>
        </div>
    </div>
</section>
