<br>
  <br>
  <br>
  <br>

  <div class="container">
    <div class="row">
      <div class="col" *ngFor="let c of categories" >
        <div class="card lt" style="width: 18rem; border: 2px solid black;" >
 
            <img src="assets/images/UQ.jpg" class="card-img-top" alt="photo">
        
            <div class="card-body">
              <h5 class="card-title">{{c.categoryName}}</h5>
              <p class="card-text"></p>
              <a class="btn btn-danger" (click)="viewQuiz(c.catId)">View 👀 </a>
            </div>
          </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
