input{
    background-color: #fff;
}
.mycontainer{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.7);
    margin-top: 75px;
}
.form-text{
	font-size: 1rem;
	font-weight: 600;
	color: red;
}
em,i,a{
    cursor: pointer;
}

