
<div class="container-fluid">
    <div class="row m-2">
        <div class="col-sm-12 col-12 text-center bg-info text-white">
            <h2>Oops! Page not found.</h2>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-12 text-center">
            <img src="assets/images/pagenotfound.jfif" alt="404_image" class="img-fluid">
        </div>
    </div>
    <div class="row m-2">
        <div class="col-sm-12 col-12 text-center">
            <button type="button" class="btn btn-primary" (click)="moveToHome()">GO BACK HOME</button>
        </div>
    </div>
</div>