<!-- <p>usernav works!</p> -->
 
<!-- <p>adminnav works!</p> -->
<!-- <nav class="navbar sticky-top  navbar-expand-lg navbar-dark  navy">
  
    <div class="container-fluid">
        
      <a class="navbar-brand">
        <img src="assets/images/icon.png" alt="logo" width="50" height="50">

      </a>
      
      <a class="navbar-brand" style="color: yellow" ><h3>Bestify your time</h3></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
        
 
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" style="color: white" routerLinkActive="active" [routerLink]="[{ outlets: {User:['user-home'] } }]"><b> <h3>🏡</h3>Home </b></a>
          </li>
 
          <li class="nav-item active">
            <a class="nav-link" style="color: white" routerLinkActive="active" [routerLink]="[{ outlets: {User: ['user-profile'] } }]"><b><h3>&nbsp;&nbsp;&nbsp;📝</h3>User Profile </b></a>
          </li>
 
          <li class="nav-item active">
            <a class="nav-link" style="color: white " routerLinkActive="active" [routerLink]="[{ outlets: {User: ['quizcategory'] } }]"><b><h3>🧩🧠</h3>PlayQuiz</b></a>
          </li>
 
          <li class="nav-item active">
            <a class="nav-link" style="color: white" routerLinkActive="active" [routerLink]="[{ outlets: {User: ['games'] } }]"><b><h3>&nbsp;🎮</h3>Games</b> </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" style="color: white" routerLinkActive="active" [routerLink]="[{ outlets: {User: ['favorites'] } }]"><b><h3>&nbsp;❤</h3>Favorites</b> </a>
          </li>
        </ul>
 
         
       
      
        <form class="d-flex">
         
          <button class="btn btn-primary buttonz" >{{ name| titlecase }}</button>
      
          <button class="btn btn-danger buttony" routerLinkActive="active"
          [routerLink]="" (click)="onLogout()">Logout</button>
 
        </form>
        
      </div>
     
    </div>
   
  </nav> -->


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <nav class="sticky-top" style="text-align: center;">
      

  <div class="topnav" id="myTopnav">
    <a class="navbar-brand" href="#">
      <img src="assets/images/icon.png" alt="logo" width="60" height="60">
    </a>
    <a class="navbar-brand" style="color: yellow" href="#"><br><h3>Bestify your time</h3></a>

    <a class="nav-link"  routerLinkActive="active" [routerLink]="[{ outlets: {User:['user-home'] } }]"><b> <h3>🏡</h3>Home </b></a>
          
    <a class="nav-link"  routerLinkActive="active" [routerLink]="[{ outlets: {User: ['user-profile'] } }]"><b><h3>&nbsp;&nbsp;&nbsp;📝</h3>User Profile </b></a>
          
    <a class="nav-link"  routerLinkActive="active" [routerLink]="[{ outlets: {User: ['quizcategory'] } }]"><b><h3>🧩🧠</h3>PlayQuiz</b></a>
     
    <a class="nav-link"  routerLinkActive="active" [routerLink]="[{ outlets: {User: ['games'] } }]"><b><h3>&nbsp;🎮</h3>Games</b> </a>
      
    <a class="nav-link" routerLinkActive="active" [routerLink]="[{ outlets: {User: ['favorites'] } }]"><b><h3>&nbsp;❤</h3>Favorites</b> </a>
        
    <!-- <a class="nav-link"  routerLinkActive="active" [routerLink]="[{ outlets: {start: ['home'] } }]">Home </a>

    <a class="nav-link"  routerLink="">Categories</a>
   
    <a class="nav-link"  routerLink="">About Us</a> -->

    <a  class="icon" (click)="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
<br>
    <form class="d-flex formnav">
         
             
      <button class="btn btn-primary buttonz" >{{ name| titlecase }}</button>&nbsp;&nbsp;
      
      <button class="btn btn-danger buttony" routerLinkActive="active"
      [routerLink]="" (click)="onLogout()">Logout</button>&nbsp;&nbsp;&nbsp;
  
    </form>
    
  </div>

</nav>