<!-- <p>adminstart works!</p> -->
<!-- <br>
<br>
<div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem; border: 2px solid green;">
          <img src="assets/images/users.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">USERS</h5>
            <p class="card-text">Number of registered users :</p>
            <h2 class="card-text" style="color: blue;">{{users}}</h2>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem; border: 2px solid green;">
          <img src="assets/images/quizzz.jfif" class="card-img-top" alt="..." height="200px" width="50px">
          <div class="card-body">
            <h5 class="card-title">QUIZ</h5>
            <p class="card-text">Number of Quizes : </p>
            <h2 class="card-text" style="color: blue;">{{quizes}}</h2>
      
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem; border: 2px solid green;">
          <img src="assets/images/categ.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Categories</h5>
            <p class="card-text">Categories/Types of quizes : </p>
            <h2 class="card-text" style="color: blueviolet;">3</h2>
 
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <br>
  <br>
  <br>
  <br> 

  
  <div class="container">
    <div class="row">
      <div class="col"  >
        <div class="card lt" style="width: 18rem; border: 2px solid black;" >
 
            <img src="assets/images/user1.jfif" width= "150px" height="250px" class="card-img-top" alt="photo">
        
            <div class="card-body">
              <h5 class="card-title">Users</h5>
              <p class="card-text">Number of registered users :</p>
              <h2 class="card-text" style="color: blue;">{{users}}</h2>
            </div>
          </div>
      </div>

      <div class="col"  >
        <div class="card lt" style="width: 18rem; border: 2px solid black;" >
 
            <img src="assets/images/quizzz.jfif" width= "150px" height="250px" class="card-img-top" alt="photo">
        
            <div class="card-body">
              <h5 class="card-title">QUIZ</h5>
            <p class="card-text">Number of Quizes : </p>
            <h2 class="card-text" style="color: blue;">{{quizes}}</h2>
            </div>
          </div>
      </div>

      <div class="col"  >
        <div class="card lt" style="width: 18rem; border: 2px solid black;" >
 
            <img src="assets/images/categ.jfif" width= "150px" height="250px" class="card-img-top" alt="photo">
        
            <div class="card-body">
              <h5 class="card-title">Categories</h5>
              <p class="card-text">Categories of quizes : </p>
              <h2 class="card-text" style="color: blueviolet;">3</h2>
            </div>
          </div>
      </div>
    </div>
  </div>

  <br>
  <br>