<section class="navy" id="about">
    <div class="container headings text-center">
        <h1 class="text-uppercase text-center font-weight-bold text-dark">About us</h1>
        <p class="text-capitalize pt-1">We are here to help you and answer all of your questions. Feel free to contact
            us</p>
            <p>
                
            </p>
    </div>
    <div class="row">
        <div class="col-md-12 justify-content-center d-flex">
            <form>
                <div class="row">
                    <form>
                        <table class="table">
                            <tr>
                                <th>Team Name </th>
                                <td>Team 8️⃣</td>
                            </tr>
                            <tr>
                                <th>Email 📧</th>
                                <td>bestify@cybage.com</td>
                            </tr>
                            <tr>
                                <th>Contact ☎ </th>
                                <td>+91-9898989898</td>
                            </tr>
                        </table>
                    </form>
                </div>
            </form>
        </div>
    </div>
</section>

