.navy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16rem;
    width: 100%;
    padding: 0 6rem;
    z-index: 100;
    background-color: rgba(209, 236, 53, 0.95);
    color: black;
  }
