<!-- <p>login works!</p> -->

<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label for="email">Email</label>
  <input
    type="email"
    id="email"
    class="form-control"
    formControlName="email"
  />
  <span
    *ngIf="
      !loginForm.get('email').valid && loginForm.get('email').touched
    "
    class="help-block"
    >Please enter valid email</span
  >
  <br />
  <label for="password">Password</label>
  <input
    type="password"
    id="password"
    class="form-control"
    formControlName="password"
  />
  <span
    *ngIf="
      !loginForm.get('password').valid && loginForm.get('password').touched
    "
    class="help-block"
    >Please enter valid Password</span
  >

  <br />
  <button type="submit" class="btn btn-success">Log In</button>
</form>

<p>User-Id : {{ id }}</p>

<button type="button" class="btn btn-danger" (click)="onLogOut()">
  Log Out
</button> -->


<div class="container-fluid h-100 bg-light text-dark">
  <div class="row justify-content-center align-items-center">
    <br>
    <h1>Log In</h1>    
  </div>
  <hr/>
  <div class="row justify-content-center align-items-center h-100">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
       
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
          />
          <span
            *ngIf="
              !loginForm.get('email').valid && loginForm.get('email').touched
            "
            class="help-block"
            >Please enter valid email</span
          >
        </div>

        <br><br>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
          />
          <span
            *ngIf="
              !loginForm.get('password').valid && loginForm.get('password').touched
            "
            class="help-block"
            >Please enter valid Password</span
          >
      </div>
    
      <br><br>

    
        <div class="form-group">
          <div class="container">
            <div class="row">
              
              <button type="submit" class="btn btn-success">Log In</button>
             
            </div>
          </div>
        </div>

      

      </form>
    </div>
  </div>
</div>