<!-- <p>homezero works!</p> -->
<div class="container">
    <div class="row">

        <div class="col">
            <br>
            <h4>Break your boredom!</h4>
          <br>
          <img
          src="assets/images/quiz1.webp"
          class="header_img"
          alt="quiz-stopwatch"
        />
        </div>
      <div class="col">
          <br>
        <h1>
            Playing
            <span class="highlight">quiz</span>
            is now<br />
            <span class="highlight">Easy</span>
          </h1>
            <br>
          <h4>Choose the type of quiz you want!</h4>
          <br>
          <h4>Enjoy</h4>
          <h4>Learn</h4>
          <h4 class="highlight">&</h4>
          <h4>Utilize your time</h4>
      </div>
      
      
    </div>
