.highlight {
   
    background-color: rgb(91, 233, 155);
}

 .header__title {
    flex: 1;
  
    max-width: 115rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    row-gap: 3rem;
    align-content: center;
    justify-content: center;
  
    align-items: start;
    justify-items: start;
  }

.header__img {
    width: 20%;
 
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / span 4;
    transform: translateY(-6rem);
  }
  