summary{
    font-size: 20px;
    background-color: lightgrey;
}
h1{
    color: navy;
    text-align: center;
    text-transform: uppercase;
}
h2{
    color: lightslategray;
    text-align: center;
}
h3{
    color:green;
    text-align: center;
}